:root {
  --color-background: #0d1117;
  --color-primary: #161b22;
  --color-secondary: #30363d;
  --color-text-heading: #f0f6fc;
  --color-text: #c9d1d9;
  --color-btn-main: #238636;
  --color-btn-main-hover: #2ea043;
  --color-btn-remove: #f85149;
  --color-btn-remove-hover: #da3633;
  --color-btn-reset-hover: #30363d;
  --color-btn-reset-hover-border: #c9d1d9;
  --color-movement-income: #3fb950;
  --color-movement-expense: #b62324;
  --color-warning-border: #da3633;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;

  background-color: var(--color-background);
  color: var(--color-text);
}

.container {
  max-width: 100rem;
  padding: 0 2rem;
}

.section {
  padding: 2.4rem 0.8rem;
  border-top: 1px solid var(--color-secondary);
}

.section:last-child {
  border-bottom: 1px solid var(--color-secondary);
}

.section__movement,
.section__filters {
  position: relative;
}

/* INPUTS */
.form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
}

.input {
  flex-basis: 12rem;
}

h2 {
  margin-bottom: 0.8rem;

  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;

  color: var(--color-text-heading);
}

.label {
  display: inline-block;

  margin-bottom: 0.4rem;

  font-size: 1.2rem;
}

input,
select {
  width: 12rem;
  height: 3.5rem;
  padding: 0.8rem;
  border: 1px solid var(--color-secondary);
  border-radius: 6px;

  font-family: inherit;
  font-size: inherit;

  background-color: var(--color-primary);
  color: inherit;
}

/* INVERT CALENDAR ICON COLOR */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* BUTTONS */
.btns {
  display: flex;
  gap: 1.6rem;
}

.btn {
  width: 7rem;
  padding: 0.8rem;
  border: 1px solid var(--color-secondary);
  border-radius: 6px;

  font-family: inherit;
  font-size: inherit;
  font-weight: 500;

  background-color: var(--color-primary);
  color: inherit;

  cursor: pointer;
  transition: all 0.2s;
}

.btn__movement--remove-all {
  width: auto;
}

.btn__movement--add,
.btn__filter--submit {
  background-color: var(--color-btn-main);
}

.btn__movement--add:hover,
.btn__filter--submit:hover {
  background-color: var(--color-btn-main-hover);
}

.btn__movement--remove {
  background-color: var(--color-btn-remove);
}

.btn__movement--remove:hover {
  background-color: var(--color-btn-remove-hover);
}

.btn__movement--remove-all:hover,
.btn__filter--reset:hover {
  border: 1px solid var(--color-btn-reset-hover-border);

  background-color: var(--color-btn-reset-hover);
}

/* MOVEMENTS CONTAINER */
.filtered__container {
  position: relative;
}

.filtered {
  max-width: 60rem;
  height: 34rem;
  margin: 0 auto;
  border: 1px solid var(--color-secondary);
  border-radius: 6px;

  background-color: var(--color-primary);

  overflow: auto;
  transition: all 0.5s;
}

/* SCROLLBAR */
.filtered::-webkit-scrollbar {
  /* HIDE SCROLLBAR */
  /* display: none; */

  width: 0.4rem;
}

.filtered::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
}

.filtered::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
}

/* MOVEMENTS */
.filtered__row {
  display: flex;
  align-items: center;
  gap: 3.2rem;

  padding: 1.2rem 3.2rem;
  border-bottom: 1px solid var(--color-secondary);
}

.filtered__amount {
  margin-left: auto;

  font-size: 1.6rem;
  font-weight: 500;
}

.filtered__type {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;

  font-size: 2.4rem;
}

.filtered__type--income {
  border: 1.6px solid var(--color-movement-income);

  color: var(--color-movement-income);
}

.filtered__type--expense {
  border: 1.6px solid var(--color-movement-expense);

  color: var(--color-movement-expense);
}

.filtered__nodata {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.6rem;
  font-weight: 500;

  color: var(--color-secondary);

  display: none;
}

/* COPYRIGHT */
.copyright {
  margin-top: 0.8rem;

  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;

  color: var(--color-secondary);
}

/* WARNINGS */
.warning {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0.4rem 0.8rem 0.4rem 2.2rem;
  border: 1px solid var(--color-warning-border);
  border-radius: 6px;

  font-size: 1.2rem;
  line-height: 1.3;

  background-color: var(--color-primary);
  opacity: 0;
  transition: all 0.2s;
}

/* JS ACTIVE CLASS*/
.filtered__active {
  border: 1px solid var(--color-btn-main);
}

.input__warning {
  border: 1px solid var(--color-warning-border);

  transition: all 0.2s;
}

.warning__active {
  opacity: 1;
}
